.login-container {
    /* box-sizing: border-box;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-direction: column;
    display: block; */

    border-color: coral;
    border-style: solid;
    border-width: 1px;
}

.login-tips-container {
    display: flex;
    height: 150px;
    /* flex: 1; */
    flex-direction: column;

    margin: 10px;
    border-color: rgb(13, 212, 63);
    border-style: solid;
    border-width: 1px;
}

.login-tips {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 12px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: rgb(30, 35, 41);
}

.login-link-tips {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(112, 122, 138);
}

.login-link-container {
    box-sizing: border-box;
    min-width: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 23px;
    display: inline-flex;
    margin: 0 auto;
    margin-top: 12px;
    width: auto;
    padding: 8px 24px;
    align-items: center;
}

.login-link-container1 {
    border-color: rgb(40, 24, 189);
    border-style: solid;
    border-width: 1px;
}

.login-link-svg {
    box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    color: rgb(14, 203, 129);
    font-size: 18px;
    fill: rgb(14, 203, 129);
    width: 1em;
    height: 1em;
}

.login-link-text-div {
    border-color: rgb(226, 160, 17);
    border-style: solid;
    border-width: 1px;
}

.login-link-text {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    line-height: 18px;
    height: 18px;
}