.main-css {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 60px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

main {
    display: block;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

.css-m0j0yw {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    width: 100%;
    color: rgb(30, 35, 41);
    flex-direction: column;
}

.css-tb94u7 {
    box-sizing: border-box;
    margin: 0px 0px 12px;
    min-width: 0px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: rgb(30, 35, 41);
}

.css-ft5043 {
    box-sizing: border-box;
    margin: 0px 0px 12px;
    min-width: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(112, 122, 138);
}

.css-gflt22 {
    box-sizing: border-box;
    min-width: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 23px;
    display: inline-flex;
    margin: 0px auto 8px;
    width: auto;
    padding: 8px 24px;
    -webkit-box-align: center;
    align-items: center;
}

.css-1ur07bk {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    line-height: 18px;
    height: 18px;
}

.css-vurnku {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
}

.css-1mb79dz {
    box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    color: rgb(14, 203, 129);
    font-size: 18px;
    fill: rgb(14, 203, 129);
    width: 1em;
    height: 1em;
}

.css-e4p3 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(14, 203, 129);
}