body {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(255, 255, 255);
  font-family: BinancePlex,Arial,sans-serif!important;
  font-size: 14px;
  margin: 0px;

  display: block;
}

* {
  box-sizing: border-box;
}

div {
  display: block;
}

main {
  display: block;
}


#__APP {
  width: 100vw;
  height: 100vh;
  overflow: hidden auto;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/*-----------------------------------------*/
@media screen and (min-width: 768px) {
    .css-1i3ha4y {
      background-color: #FAFAFA;
  }
}

.css-1i3ha4y {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    color: #1E2329;
    background-color: #fff;
}


/*-----------------------------------------*/
@media screen and (min-width: 1024px) {
    .css-13eeyma {
      padding-left: 60px;
      padding-right: 60px;
  }
}

@media screen and (min-width: 768px) {
    .css-13eeyma {
      padding-left: 60px;
      padding-right: 60px;
  }
}

.css-13eeyma {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #0b0e11;
    box-sizing: borderBox;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 9;
    padding-left: 16px;
    padding-right: 0;
}

a {
  text-decoration: none;
}

a {
  background-color: transparent;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.css-13eeyma img {
  width: 138px;
}

img {
  border-style: none;
}

/*-----------------------------------------*/
.css-x84wzl {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}



@media screen and (min-width: 1024px) {
    .css-13eeyma {
      padding-left: 60px;
      padding-right: 60px;
  }
}


@media screen and (min-width: 768px) {
    .css-13eeyma {
      padding-left: 60px;
      padding-right: 60px;
  }
}

.css-13eeyma {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #0b0e11;
    box-sizing: borderBox;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 9;
    padding-left: 16px;
    padding-right: 0;
}

.css-1xy7yb4 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 60px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


.css-moj0yw {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  width: 100%;
  color: rgb(30, 35, 41);
  flex-direction: column;
}



/*-----------------------------------------*/

@media screen and (min-width: 768px) {
    .css-yqufh {
      padding: 24px 24px 32px;
      margin: 40px auto 24px;
  }
}


@media screen and (min-width: 1024px) {
    .css-yqufh {
      width: 384px;
      margin: 40px auto;
      box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px, rgb(0 0 0 / 8%) 0px 0px 2px;
  }
}

@media screen and (min-width: 768px) {
    .css-yqufh {
      width: 384px;
      margin: 40px auto;
      box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px, rgb(0 0 0 / 8%) 0px 0px 2px;
  }
}

.css-yqufh {
    box-sizing: border-box;
    min-width: 0px;
    width: 100%;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    padding: 0px 8px 32px;
    position: relative;
    margin: 40px auto 0px;
}




/*----------------------------------------*/
.css-leflpn {
  box-sizing: border-box;
  margin: 0px 0px 24px;
  min-width: 0px;
  text-align: center;
}

.css-tb94u7 {
  box-sizing: border-box;
  margin: 0px 0px 12px;
  min-width: 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: rgb(30, 35, 41);
}

.css-ft5043 {
  box-sizing: border-box;
  margin: 0px 0px 12px;
  min-width: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgb(112, 122, 138);
}


.css-gflt22 {
  box-sizing: border-box;
  min-width: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 23px;
  display: inline-flex;
  margin: 0px auto 8px;
  width: auto;
  padding: 8px 24px;
  -webkit-box-align: center;
  align-items: center;
}


/*----------------------------------------*/
.css-x84wzl {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}


.css-ybbx55 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: relative;
  display: inline-block;
  outline: none;
}


@media screen and (min-width: 1024px) {
    .css-11yl1bg {
      margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
    .css-11yl1bg {
      margin-right: 0;
  }
}

.css-11yl1bg {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    color: #fff;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 16px;
}

.css-1iztezc {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 24px;
  height: 24px;
  font-size: 24px;
  fill: #1E2329;
  fill: currentColor;
  width: 1em;
  height: 1em;
}

svg[Style] {
  fill: none;
}

svg:not(:root) {
  overflow: hidden;
}

.css-1gybehy {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}



/*-------------------------------------------*/
.css-1iztezc {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  color: currentColor;
  width: 24px;
  height: 24px;
  font-size: 24px;
  fill: #1E2329;
  fill: currentColor;
  width: 1em;
  height: 1em;
}

svg:not(:root) {
  overflow: hidden;
}

:not(svg) {
  transform-origin: 0px 0px;
}

.css-gv1gi9 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: none;
  pointer-events: none;
  visibility: hidden;
  z-index: 1100;
}


@media screen and (min-width: 1024px) {
    .css-168o2sb {
      width: 250px;
  }
}

@media screen and (min-width: 768px) {
    .css-168o2sb {
      width: 250px;
  }
}

@media screen and (min-width: 768px) {
    .css-168o2sb {
      max-height: 60vh;
  }
}

.css-168o2sb {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-color: #1e2126;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100vw;
    margin-top: 20px;
}

.css-168o2sb a {
  cursor: pointer;
  color: #fff;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding: 10px 20px;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  font-size: 14px;
}

.css-168o2sb a:hover, .css-168o2sb a.active {
  background: rgba(255,255,255,0.04);
  outline: none;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: rgb(240,185,11);
}

.css-168o2sb a {
  cursor: pointer;
  color: #fff;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding: 10px 20px;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  font-size: 14px;
}

.css-168o2sb a {
  cursor: pointer;
  color: #fff;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding: 10px 20px;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  font-size: 14px;
}
